.sprite {
	display: none;
}

.repos {
	list-style: none;
	margin: 0;
	padding: 0;
}

.repos > * + * {
	padding: 20px 0;
	border-top: 1px solid #e2e8f0;
}

.link {
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
}

.icon {
	display: inline-block;
	margin-right: 0.5rem;
	vertical-align: middle;
}

.description {
	margin: 0;
}
